<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img style="filter: grayscale(1) brightness(1000%);" loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="264" height="78"></a>
            <p>
                Detroit Web Design Agency
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                      {% set navPages = collections.all | eleventyNavigation %}
                      {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                      {% for entry in navPages %}
                        {# Define a hasChild variable to make it easier to test what links are dropdowns#}
                        {% set hasChild = entry.children.length %}
            
                        {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes#}
                        <li class="cs-li {% if hasChild %} cs-dropdown {% endif %}" {% if hasChild %} tabindex="0"{% endif %}>
            
                          {# Similarly, if the link is active, apply the necessary classes #}
                          <a href="{{ entry.url }}" class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}">
                            {{ entry.key }}
                            {% if hasChild %}
                              <img class="cs-drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                            {% endif %}
                          </a>
            
                          {# Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link #}
                          {% if hasChild %}
                            <ul class="cs-drop-ul">
                              {% for child in entry.children %}
                                <li class="cs-drop-li">
                                  <a href="{{ child.url }}" class="cs-li-link cs-drop-link">{{ child.key }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      {% endfor %}
                    
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Service1</li>
                    <li>Service2</li>
                    <li>Service4</li>
                    <li>Service5</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{client.address.lineOne}}<br>
                            {{client.address.lineTwo}}<br>
                            {{client.address.city}}
                            {{client.address.state}}
                            {{client.address.zip}}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{client.phoneForTel}}">
                            T:
                            {{client.phoneFormatted}}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{client.email}}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Your Company Name</a>
        <span class="copyright">
            Copyright 2023 - Present</span>
    </div>
</footer>