 <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
               <!--<span class="cs-topper">mountain hiking society</span>--> 
                <h1 class="cs-title">We make websites to grow your business</h1>
                <p class="cs-text">
                   Since 2006 We have helped companies of all sizes
                </p>
                <a href="/about" class="cs-button-solid">Explore More</a>
               <!-- <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>-->
            </div>
        </div>

      
    </section>