---
title: 'Design Gandalf'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

{% include "components/hero1.html" %}

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                1
            </picture>
            <h2>We clarify your message</h2>
          
        </div>
        <div class="card">
            <picture>
            2
            </picture>
            <h2>With a website you 100% love</h2>
           
        </div>
        <div class="card">
            <picture>
      3
            </picture>
            <h2>You watch your business grow</h2>
            
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home1.jpg" alt="cabinets" loading="lazy" width="400">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home2.jpg" alt="house" loading="lazy" width="400" >
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Grow your business with</span>
                <h2 class="cs-title">A website you love</h2>
                <p class="cs-text">
                    Since 2006 we have specialized in high quality website design for startups and fortune 500 companies.
                 </p>
                 <p class="cs-text">
                    We are now offering the same services small businesses looking to increasse their revenue
                 </p>
               
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Extremely easy to work with, receptive to feedback, and able to design in any style or format. 10 out of 10.                     </p>
                    <span class="cs-name">Joe DiPasquale</span>
                    <span class="cs-job">CEO & Founder Regroup.com</span>
                    <img 
                    class="cs-quote-icon"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg"
                    alt="gavel"
                    width="136"
                    height="77" />
                </div>
                <a href="/contact" class="cs-button-solid">Start today</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home3.jpg" alt="house" loading="lazy">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <!--<source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">-->
                    <img aria-hidden="true" decoding="async" src="/assets/images/home4.jpg" alt="cabinets" loading="lazy" width="400">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Beautiful Websites That</span>
                <h2 class="cs-title">Boost your bottom line</h2>
                <p class="cs-text">
                   No  more slow confusing websites. We custom code every one of our websites. This means you rank better in google and get more customers.                </p>
             
                <a href="/blog" class="cs-button-solid">Get in touch</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->
<STYLE>
    
    #gallery img {max-width: 100%;}
    .newGrid {
        grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
    }
    </style>
    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Boost your revenue with a</span>
            <h2 class="cs-title">Mobile friendly website design</h2>
            <div class="newGrid">
                <img src="/assets/images/portfolio/1.jpg">

                <img src="/assets/images/portfolio/2.jpg">

                <img src="/assets/images/portfolio/3.jpg">

                <img src="/assets/images/portfolio/4.jpg">
         </div>
               
            </div>
           <!----> <a href="/contact" class="cs-button-solid">Start your project</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Hear from our</span>
            <h2 class="cs-title">Satisified Customers</h2>
            <p class="cs-text">
                Your 100% satisfaction is our guarantee.
            </p>
            <style>.cs-item-img {border-radius: 999px;}</style>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="assets/images/brian.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Gandalf is the best design company that I have had the pleasure of working with. They incorporate latest industry trends without losing the the focus of the business. A very keen eye for amazing designs and is constantly trying to innovate to set their designs above the status quo.                    </p>
                    <span class="cs-reviewer">
                        Brian Portillo
                        <span class="cs-desc">Senior Sofrware Engineer</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="assets/images/joe.jpg"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Gandalf gave our site exactly the look and feel we wanted. 10 out of 10 - and also extremely easy to work with, receptive to feedback, and able to design in any style or format as well as come up with his own design suggestions and work independently. We were fortunate to have Gandalf work with us and I wouldn't hesitate to work with them again.                   </p>
                    <span class="cs-reviewer">
                      Joe DiPasquale
                        <span class="cs-desc">Founder and CEO</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                
            </ul>
         
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}