/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/




/* Mobile */
@media only screen and (min-width: 0em) {
    // Dark Mode Color Scheme
    :root {
        --dark: #082032;
        --medium: rgba(255,255,255 , .05);
        --accent: rgba(255,255,255 , .05);
    }


    

    body.dark-mode {
        #cs-navigation {
            

            .cs-logo, .cs-line {
                /* makes it turn white */
                filter: grayscale(1) brightness(1000%);
            }

        

            .cs-li-link {
                &:before {
                    background-color: var(--primaryLight);
                }
            }
        }
    }

    body.dark-mode {
        background-color: var(--dark);

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        // hide all light classes
        .light {
            display: none;
        }

        // show all dark classes
        .dark {
            display: block !important;
        }
    }

    .dark {
        display: none;
    }
}



/* Dark Mode */
@media only screen and (min-width: 0em) {
    body.dark-mode {

        .cs-topper {
            color: var(--primaryLight);
        }
        
        #sbs-r {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                background-color: var(--dark);
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
            }

         

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

   

