/* DARK MODE AND TOGGLE STYLES */

/*-- -------------------------- -->
<---      Core Dark Styles      -->
<--- -------------------------- -*/




/* Mobile */
@media only screen and (min-width: 0em) {
    // Dark Mode Color Scheme
    :root {
        --dark: #082032;
        --medium: #2c394b;
        --accent: #334756;
    }

    body.dark-mode {
        #cs-navigation {
            

            .cs-logo, .cs-line {
                /* makes it turn white */
                filter: grayscale(1) brightness(1000%);
            }

        

            .cs-li-link {
                &:before {
                    background-color: var(--primaryLight);
                }
            }
        }
    }

    body.dark-mode {
        background-color: var(--dark);

        p,
        li,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
        }

        // hide all light classes
        .light {
            display: none;
        }

        // show all dark classes
        .dark {
            display: block !important;
        }
    }

    .dark {
        display: none;
    }
}


   

